<div class='well'>
  <%= form_for @user do |f| %>
  <%= render 'shared/errors', obj: @user %>
    <div class='control-group'>
      <%= f.label :username, 'Nombre de usuario' %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group'>
      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password %>
    </div>
    <div class='control-group'>
      <%= f.label :time_zone, 'Zona horaria' %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: (logged_in? ? current_user.time_zone : Time.zone.name) %>
    </div>
    <%= f.submit (@user.new_record? ? "¡Regístrate!" : "¡Actualiza!"), class: 'btn btn-success' %>
  <% end %>
</div>