<p class='pull-right'>
	[<%= link_to 'Edita esta publicación', edit_post_path(@post)%>]
</p>

<p>
	<%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
	<%= @post.description %>
</p>
<hr/>

<%= form_for @comment do |f| %>
  <div class='control-group'>
    <%= f.label :Commentario %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Agrega tu commentario", class: "btn btn-primary" %>
<% end %>