<ul class="nav">
  <li>
    <%= link_to "¡Publícalo!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Todo Publicado', posts_path %>
  </li>
</ul>

<div class='btn-group nav_item'>
	<%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
		Categorías <span class='caret'></span>
	<% end %>
	<ul class='dropdown-menu'>
		<% Category.all.each do |category| %>
			<li>
        <%= link_to category.name, category_path(category)%>
			</li>
		<% end %>
    <% if logged_in? && current_user.admin? %>
		  <li class='divider'></li>
		  <li>
		    <%= link_to(new_category_path) do %>
		    	<i class="icon-plus"></i>
		    	Crea Una Categoría
		    <% end %>
		  </li>
    <% end %>
	</ul>
</div>

<% if logged_in? %>
  <div class='nav_item'>
    <%= link_to 'Nueva Publicación', new_post_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class='btn-group nav_item'>
  	<%= link_to('#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown') do %>
      <%= current_user.username %>
      <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <li>
        <%= link_to(edit_user_path(current_user)) do %>
          <i class='icon-pencil'></i>
          Editar Mi Perfil
        <% end %>
      </li>
      <li>
        <%= link_to(user_path(current_user)) do %>
          <i class='icon-user'></i>
          Ver Mi Perfil
        <% end %>
      </li>
      <li>
        <%= link_to(logout_path) do %>
          <i class='icon-circle-arrow-left'></i>
          Cerrar Sesión
        <% end %>
      </li>
    </ul>  
  </div>
<% else # logged out%>
  <div class='nav_item'>
    <%= link_to 'Regístrate', register_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class='nav_item'>
    <%= link_to 'Iniciar Sesión', login_path, class: 'btn btn-small' %>
  </div>
<% end %>
